* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Comic Sans MS', sans-serif;
    border: 2px solid black;
    margin: 0;
}

div.id {
    background-color: yellow;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 2px;
}

body > div > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-end;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 5px;
    gap: 0 5px; 
}


#id { order: 1; }
span:not(#id):not(.class) { order: 2; }

span.class {
    font-style: italic;
    order: 3;
    flex-basis: 100%; 
    text-align: right;
}


div.class {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 2px solid black; 
}



div.class .id {
    grid-column: 1;
    grid-row: 1;
    background-color: yellow;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    width: fit-content;
    padding: 2px;
    display: inline-block; 
}

#class {
    grid-column: 1;
    grid-row: 1;
      
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-radius: 2px solid black;
    padding: 2px;
    margin-left: 30px;
    display: block;
   
}

div.class > span {
    grid-column: 2;
    grid-row: 1 / 3; 
    border-left: 2px solid black;
    padding: 2px 10px;
    white-space: nowrap; 
    
}


#H {
    grid-column: 1 / 3; 
    width: 33.33%;
    margin: 0 auto;
    text-align: right;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    
}